html, body {
    height: 100%;
    margin: 0;
    background: rgb(162,109,184);
    background: linear-gradient(180deg, rgb(162, 91, 228) 0%, rgb(236, 204, 178) 100%);

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

h1 {
    font-family: 'Copse', serif;
    font-size: 75px;
    letter-spacing: 10px;
    text-align: center;

    color: rgb(216, 215, 158);
}

#calcContainer {
    height:         500px;
    width:          400px;

    border-radius:  50px;
    background-color: rgb(137, 118, 241);

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

#calcBitsContainer {
    height: 80%;
    width: 80%;

    display:            flex;
    flex-direction:     column;
    justify-content:    space-between;
    align-items:        center;
}

#displayContainer {
    height: 25%;
    width: 100%;

    border: 3px solid rgb(73, 103, 168);
    border-radius: 5px;
    background-color: rgb(213, 255, 213);
    /* background: linear-gradient(180deg, rgb(206, 248, 255) 0%, rgb(213, 255, 244) 100%); */

    display: flex;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;
}

#display {
    font-family: 'Patrick Hand', cursive;
    font-size: 75px;

    color: rgb(125, 192, 194);;
    
    margin-right: 6px;
}

#buttonsContainer {
    height: 60%;
    width: 100%;

    display:    flex;
    gap:        10px;
}

#middleButtonsContainer {
    width:  100%;

    display: grid;
    grid-template-columns:  
    1fr 1fr 1fr;
    grid-template-rows:     
    1fr 1fr 1fr 1fr;
    gap: 5px;
}

#sideButtonsContainer {
    width: 40%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

button {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    
    color:              rgb(255, 255, 255);
    background-color:   rgb(158, 214, 216);
    
    border-radius: 10px;
    padding:        0;
    border-style: none;
}

button:hover {
    background-color: rgb(186, 235, 236);
}

button:active {
    background-color: rgb(117, 184, 185);
    padding-top: 10px;
    box-shadow: 0px 2px rgb(119, 101, 221) inset;
}

.sideButton {
    font-size: 22px;
}

button.disabled {
    color:              rgb(122, 122, 122);
    background-color:   rgb(117, 184, 185);
}